<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">	
    <xacro:property name="imu_xyz" value="0.19 0 0.149" />
    <xacro:property name="imu_rpy" value="0 -1.5708 3.1416" />

	<xacro:macro name="imu" params="parent">
		<joint name="imu_joint" type="fixed">
            <origin xyz="${imu_xyz}" rpy="${imu_rpy}" />
            <parent link="${parent}" />
            <child link="imu_link" />
        </joint>
        <link name="imu_link"/>
	</xacro:macro>
</robot>