<launch>
  <!-- arguments -->
  <arg name="model" default="$(find hauser_description)/models/robot/robot.urdf.xacro"/>
    
  <!-- prameters -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- nodes -->
    <!-- Change joint_state published from gazebo into /tf, which rviz can understand-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!-- Load RQT with a pre-setup GUI for Baxter controls from a perspective file  -->
  <node name="hauser_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
  output="screen" args="--perspective-file $(find gui_control)/perspectives/hauser_rqt.perspective"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hauser_viz)/launch/config/rviz/data_gazebo.rviz" required="true" />
  
</launch>